@import "../../node_modules/bootstrap/scss/bootstrap";

header {
  ul {
    padding: 0;
    margin:  0;
    li {
      font-size: 3rem;
      display:   inline;
      @media (max-width: 1040px) {
        font-size: 4.5vw;
      }
    }
  }
}

.featured {
  text-align: center;
  height:     100vh;
  background: #d8525b;
  color:      #ffffff;
  main {
    position:  relative;
    top:       50%;
    transform: translateY(-50%);
  }
}

.faq {
  h2 {
    color: $brand-primary;
    &:hover {
      color: darken($brand-primary, 30%);
    }
  }
  p {
    max-height: 0;
    transition: max-height 0.15s ease-in-out;
    overflow:   hidden;
  }
  input {
    display: none;
    &:checked {
      ~ p {
        transition: max-height 0.3s ease-in-out;
        max-height: 300px;
      }
    }
  }
}